body{
  background:#0f172a;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  font-family:Arial;
}

.card{
  background:#f8fafc;
  width:320px;
  padding:25px;
  text-align:center;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.4);
  animation: fadeIn 1s ease;
}

.profile{
  width:100px;
  border-radius:50%;
  border:4px solid #38bdf8;
  animation: glow 2s infinite alternate;
}

h1{
  margin:10px 0;
  color:#0f172a;
}

.role{
  color:#38bdf8;
  font-weight:bold;
}

.bio{
  font-size:14px;
  margin:15px 0;
  color:#334155;
}

.character-box{
  margin-top:20px;
  background:#0f172a;
  color:#f8fafc;
  padding:15px;
  border-radius:15px;
  animation: slideUp 1.2s ease;
}

.character-box h2{
  color:#38bdf8;
  font-size:18px;
  margin-bottom:10px;
}

.character-box ul{
  list-style:none;
  padding:0;
}

.character-box li{
  margin:6px 0;
  font-size:14px;
}

.links a{
  display:block;
  margin:8px;
  text-decoration:none;
  background:#38bdf8;
  color:#0f172a;
  padding:10px;
  border-radius:10px;
  font-weight:bold;
  transition:0.3s;
}

.links a:hover{
  transform:scale(1.05);
}

button{
  margin-top:15px;
  padding:10px 20px;
  border:none;
  background:#0f172a;
  color:white;
  border-radius:10px;
  transition:0.3s;
}

button:hover{
  transform:scale(1.05);
}

/* ANIMATIONS */

@keyframes fadeIn{
  from{
    opacity:0;
    transform:translateY(40px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

@keyframes slideUp{
  from{
    opacity:0;
    transform:translateY(60px);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

@keyframes glow{
  from{
    box-shadow:0 0 5px #38bdf8;
  }
  to{
    box-shadow:0 0 20px #38bdf8;
  }
}